* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Evolve;
}

/* Fontes */

@font-face {
    font-family: coolvetica;
    src: url(../font/coolvetica.otf);
}

@font-face {
    font-family: Evolve;
    src: url(../font/Evolve.otf);
}
